{{#if error}} 
    <div class="alert alert-danger" role="alert">
        ERREUR : {{error}}
    </div>
{{/if}}

{{#if edit}}
    <h3 class="mt-5">Modifier le produit {{product.name}}</h3>
    <form  action="/products/{{product._id}}" method="POST">
{{else}}
    <h3 class="mt-5">Ajouter un produit</h3>
    <form action="/products/" method="POST">
{{/if}}
    <div class="form-group">
        <label for="iname">Name: </label>
        <input class="form-control" id="iname" name="name" type="text" value="{{product.name}}">
    </div>
    <div class="form-group">
        <label for="iqty">Quantité: </label>
        <input class="form-control" id="iqty" name="qty" type="number" value="{{product.qty}}">
    </div>
    <div class="form-group">
        <label for="idescription">Description: </label>
        <textarea class="form-control" id="idescription" name="description" rows="3">{{product.description}}</textarea>
    </div>
    <div class="form-group">
        <a href="/products/{{product._id}}" class="btn btn-light">Annuler</a>
        <button type="submit" class="btn btn-primary">Valider</button>
    </div>
</form>